#question {
    text-align: center;
    max-width: 800%;
    height: 500px;
    background-color: #525252;
    border-radius: 8px;
    padding: 2rem;
}

#question h2 {
    margin-bottom: 2rem;
}

#question p {
    margin-bottom: 1rem;
    color: rgb(255, 255, 255);
}

#question button {
    border: 1px solid white;
}